<div class="col-md-7 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Detalii Cont</h4>
        <div class="card-body">
            <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstName">Prenume</label>
                    <em *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched) ">Câmp obligatoriu</em>
                    <em *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched) && f.firstName.errors?.pattern">Formatul este greșit</em>
                    <input
                        type="text"
                        formControlName="firstName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.firstName.invalid && (f.firstName.dirty || f.firstName.touched )}"
                        (change)="checkIfDirty()"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Nume</label>
                    <em *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched) ">Câmp obligatoriu</em>
                    <em *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched) && f.lastName.errors?.pattern">Formatul este greșit</em>
                    <input
                        type="text"
                        formControlName="lastName"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.lastName.invalid && (f.lastName.dirty || f.lastName.touched ) }"
                        (change)="checkIfDirty()"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <em *ngIf="f.email.invalid && (f.email.dirty || f.email.touched) ">Câmp obligatoriu</em>
                    <em *ngIf="f.email.invalid && (f.email.dirty || f.email.touched) && f.email.errors?.pattern">Formatul este greșit</em>
                    <input
                        type="text"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched ) }"
                        (change)="checkIfDirty()"/>
                </div>
                <div class="form-group">
                    <label for="username">Utilizator</label>
                    <em *ngIf="f.username.invalid && (f.username.dirty || f.username.touched) ">Câmp obligatoriu</em>
                    <input 
                        type="text"
                        formControlName="username"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.username.invalid && (f.username.dirty || f.username.touched ) }"
                        (change)="checkIfDirty()"/>
                </div>
                <div class="form-group">
                    <label for="password">Parola</label>
                    <em *ngIf="f.password.invalid && (f.password.dirty || f.password.touched) && f.password?.errors.minLength">Prea puține caractere, minim 6</em>
                    <input 
                        type="password"
                        formControlName="password"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched ) }"
                        (change)="checkIfDirty()" />
                </div>
                <div class="form-group" id="buttons">
                    <button [disabled]="formUser.invalid" class="btn btn-outline-success btn-sm">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Salvează
                    </button>
                    <a id="cancel" routerLink="/home" class="btn btn-outline-danger btn-sm">Anulează</a>
                    <a id="logout" (click)="logout()" class="btn btn-outline-dark btn-sm">Deconectare</a>
                </div>
            </form>
        </div>
    </div>
</div>