<div class="card">
    <h4 class="card-header">Autentificare</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Utilizator</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Utilizatorul este obligatoriu</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Parolă</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Parola este obligatorie</div>
                </div>
            </div>
            <div class="form-group container-fluid ">
                    <button [disabled]="loading" class="btn btn-outline-success btn-sm">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Autentifică
                    </button>
                    <a routerLink="../register" class="btn btn-outline-dark btn-sm">Înregistrează</a>
            
                    <a id="cancel" routerLink="../../home" class="btn btn-outline-danger btn-sm">Anulează</a>

            </div>
        </form>
    </div>
</div>