<div class="card">
    <h4 class="card-header">Autentificare</h4>
    <div class="card-body">
        <alert></alert>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Utilizator</label>
                <em *ngIf="f.username.invalid && (f.username.dirty || f.username.touched) ">Câmp obligatoriu</em>
                <input
                    type="text"
                    formControlName="username"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.username.invalid && (f.username.dirty || f.username.touched ) }"
                    (change)="checkIfDirty()"/>
            </div>
            <div class="form-group">
                <label for="password">Parolă</label>
                <em *ngIf="f.password.invalid && (f.password.dirty || f.password.touched) && f.password?.errors.required">Câmp obligatoriu</em>
                <em *ngIf="f.password.invalid && (f.password.dirty || f.password.touched) && f.password?.errors.minLength">Prea puține caractere, minim 6</em>
                <input 
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched ) }"
                    (change)="checkIfDirty()" />
            </div>
            <div class="form-group">
                    <button id="login" [disabled]="form.invalid" class="btn btn-outline-success btn-sm">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Autentifică
                    </button>
                    <a id="register" routerLink="../register" class="btn btn-outline-dark btn-sm">Înregistrează</a>
            
                    <a id="cancel" routerLink="../../home" class="btn btn-outline-danger btn-sm">Anulează</a>

            </div>
        </form>
    </div>
</div>